npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
node_modules/
typings/
*.tsbuildinfo
.npm
.env
coverage/lcov-report
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info-e
test-report.xml-e
